{{set . "title" "Home"}}
{{template "header.html" .}}


<div class="container">
    <div class="row">
        <div class="span6">
            <div class="alert alert-danger" hidden id="json-error"></div>
        </div>
    </div>
    <h2>Send a JSON like a Greylog would:</h2>
    <form method="POST" class="form" action="{{url "Curl.Notify"}}" id="json-form">
        <div class="form-group">
            <label for="json">JSON:</label>
            <textarea name="json" class="form-control" rows="10" id="json"></textarea>

            <button type="submit" class="btn btn-lg btn-default">Submit</button>
        </div> 
    </form>
</div>


<div class="container">
    <h2>The example event will have the following effect:</h2>
    {{if .curl}}
    <pre id="json-output"></pre>
    {{else}}
    <p>Send a request first!</p>
    {{end}}
</div>

<script>
    $('#json-form').submit(function(event){
        if ( !validate( $('#json').val() ) ) {
            event.preventDefault();

            var errAlert = $('#json-error'); 
            errAlert.show();
            errAlert.text("Invalid JSON");
            setTimeout(function(){errAlert.hide();}, 3000)
        }
    });

    function validate(text) {
        try {
            JSON.parse(text);
            return true;
        }
        catch (error){
            return false;
        }
    };
</script>

{{if .curl}}
<script>
    $('#json').val("{{.curl.Input}}");
    $('#json-output').text("{{.curl.Output}}");
</script>
{{end}}

{{template "footer.html" .}}
