{{if .flash.success}}
<div id="login-notif" class="alert alert-success alert-dismissible fade in">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{.flash.success}}
</div>
{{end}}

<script>
$("#login-notif").load(setTimeout(function(){
	$("#login-notif").hide();
}, 3000));
</script>

{{if or .errors .flash.error}}
<div class="alert alert-danger alert-dismissible fade in">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{if .flash.error}}
		{{.flash.error}}
	{{end}}
	<ul style="margin-top:10px;">
		{{range .errors}}
			<li>{{.}}</li>
		{{end}}
	</ul>
</div>
{{end}}
