<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>

    <div class='container-fluid'>
      <div class='jumbotron'>
          <h1>Under construction</h1>
          <blockquote class='text-right'>"Z tego nic nie będzie, choć powstanie."
          <footer>Lech Roch Pawlak</footer></blockquote>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="span6">
          {{template "flash.html" .}}
        </div>
      </div>
    </div>