<div class="container">
    {{if .settings}}

    <h2>Settings:</h2>
        {{if .settings.Templates}}
            {{range .settings.Templates}}
    <div class="form-group">
        <label for="template{{.ID}}">Template message <b>ID:{{.ID}}</b></label>
        <textarea name="template{{.ID}}" class="form-control" rows="10" id="template{{.ID}}"></textarea>
    </div> 

    <script>
        $('#template{{.ID}}').val("{{.Body}}");
    </script>  
            {{end}}
        {{end}}

        {{if .settings.Rules}}
    <div class="form-group">
    <label for="cases">On/Do cases:</label>
    <table class="table table-hover" id="cases">
        <thead>
            <tr>
                <th width="20%">On</th>
                <th width="20%">Do</th>
                <th width="50%">Value</th>
                <th width="5%">Tag</th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
            {{range .settings.Rules }}
            <tr id="rule{{.ID}}">
                <td>{{.On}}</td>
                <td>{{.Do}}</td>
                <td class="settings-value">{{.Value}}</td>
                <td>{{.ID}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-danger btn-xs" onclick="deleteRule('rule{{.ID}}')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            {{end}}
            <tr id="adding-rule">
                <td>
                    <select class="form-control" id="on-field"></select>
                </td>
                <td>
                    <select class="form-control" id="do-field"></select>
                </td>
                <td>
                    <textarea class="form-control" rows="2" style="resize: vertical; min-height: 33px;" id="value-field"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-success btn-xs" id="adding-rule-submit">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
        {{end}}

    <div class="form-group">
    <label for="other">Other:</label>
    <textarea name="other" class="form-control" rows="10" id="other"></textarea>
    <script>
        $('#other').val("{{.settings.Settings}}");
    </script>  
    </div>

    <div class="hidden" id="settings-cases"></div>

        {{if .settings.Schema}}

<script>
    function generate(id_, on_, do_, val_) {
    id_prop = "rule" + id_;
    return createElement(
        "tr",
        { id: id_prop },
        createElement("tr", null, "" + on_),
        createElement("tr", null, "" + do_),
        createElement("tr", { class: "settings-value" }, "" + val_),
        createElement("tr", null, "" + id_),
        createElement(
        "tr",
        null,
        createElement(
            "button",
            {
            type: "button",
            class: "btn btn-primary btn-danger btn-xs",
            onclick: "deleteRule('rule{{.ID}}')"
            },
            createElement("span", { class: "glyphicon glyphicon-trash" })
        )
        )
    );
    }
</script>


    <script>
        var SCHEMA = JSON.parse("{{.settings.Schema}}");
        var ONF = $('#on-field');
        var DOF = $('#do-field');
        var VALF = $('#value-field');
        var addRuleButton = $('#adding-rule-submit');

        // add empty option
        newoption = document.createElement("option");
        ONF.append(newoption);

        Object.keys(SCHEMA).forEach(key =>{
            newoption = document.createElement("option");
            newoption.text = `${key}`;
            ONF.append(newoption);
        });
        ONF.change((event)=>{
            key = ONF.val();
            DOF.empty();

            // add empty option
            newoption = document.createElement("option");
            DOF.append(newoption);

            SCHEMA[key].forEach((opt) => {
                newoption = document.createElement("option");
                newoption.text = `${opt}`;
                DOF.append(newoption);
            });
        });
        DOF.change((event)=>{
            first = ONF.val();
            second = DOF.val();
            if (first && second) {
                VALF.empty();
                VALF.val(`{"${first}" : "${first.toUpperCase()}",\n  "${second}" : "${second.toUpperCase()}"}`)
            }
        });

        addRuleButton.click(() => {
            [value_f, on_f, do_f] = [$('#value-field'), $('#on-field'), $('#do-field')];
            value = value_f.val();
            on_ = on_f.val();
            do_ = do_f.val();
            if (value && on_  && do_) {
                
            } else {
                var errAlert = $('#json-error'); 
                errAlert.show();
                errAlert.text("None of the field can be empty.");
                setTimeout(function(){errAlert.hide();}, 3000);
            }
        });

        function createElement(tag, props, ...children) {
            newEl = document.createElement(tag);
            if (props != null) {
                if (props.hasOwnProperty("class")) {
                    newEl.setAttribute('class', props.class)
                }
                if (props.hasOwnProperty("id")) {
                    newEl.setAttribute('id', props.id)
                }
                if (props.hasOwnProperty("type")) {
                    newEl.setAttribute('type', props.type)
                }
                if (props.hasOwnProperty("onclick")) {
                    newEl.setAttribute('onclick', props.onclick)
                }
            }
            for (i=0; i<children.length; i++) {
                newEl.append(children[i]);
            }
            return newEl;
        }

        function generate(id_, on_, do_, val_) {
            id_prop = "rule" + id_;
            return createElement(
                "tr",
                { id: id_prop },
                createElement("tr", null, "" + on_),
                createElement("tr", null, "" + do_),
                createElement("tr", { class: "settings-value" }, "" + val_),
                createElement("tr", null, "" + id_),
                createElement(
                "tr",
                null,
                createElement(
                    "button",
                    {
                    type: "button",
                    class: "btn btn-primary btn-danger btn-xs",
                    onclick: "deleteRule('rule{{.ID}}')"
                    },
                    createElement("span", { class: "glyphicon glyphicon-trash" })
                )
                )
            );
        }

    </script>
        {{end}}

    {{else}}
    <div class="row">
        <div class="span6">
            <div class="alert alert-danger" id="settings-error">
                Some error occurred.
            </div>
        </div>
    </div>
    {{end}}
</div>
